*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace ;
}
body{
    flex-direction: column;
    background: rgba(0, 0, 0 ,0.7);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.stopwatch{
    background: rgba(0,0,0,0.9);
    padding: 20px 24px;
    border-radius: 10px;
}
.timerDisplay{
    font-size: 50px;
    font-weight: 600;
}
.btn{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
    margin-top: 10px;
    background: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background-color :var(--clr) ;
    margin-inline: 10px;
    border-radius: 10px;
}
@media (max-width : 412px){
    .stopwatch{
        padding: 14px 18px;
    }
    .btn{
        padding: 10px 18px;
        font-size: 11px;
        margin-inline: 2px;
    }
    .timerDisplay{
        font-size: 20px;
    }
}